pre code .language-mark {
  position: absolute;
  top: 15px;
  left: 15px;
  font-weight: bold;
  color: var(--secondary);
  z-index: 5;
  text-transform: uppercase;
  font-size: 0.6rem;
  background: rgba(16,14,23,0.36);
  border-radius: 10px;
  padding: 0 0.8em;
}
pre code .language-mark b {
  position: relative;
  top: 2px;
  left: 0;
}
.language-mark[ref="text"] {
  color: #ff8a00;
}
.language-mark[ref="scss"] {
  color: #ff8a00;
}
.language-mark[ref="html"] {
  color: #4caf50;
}
.language-mark[ref=JSX] {
  color: #03a9f4;
}
.language-mark[ref=JavaScript] {
  color: #03a9f4;
  color: #ff79c6;
}
.language-mark[ref=jQuery] {
  color: #03a9f4;
  color: #ff79c6;
}
.language-mark[ref=python] {
  color: #ff79c6;
}
/* CodeMirror Dracula theme */
.CodeMirror {
  height: auto !important;
  overflow: hidden;
  border-radius: 5px;
  transition: box-shadow 0.3s ease-out;
  box-shadow: 0 0px 1px 2px rgba(14,210,247,0.502);
}
.CodeMirror .CodeMirror-gutters,
.CodeMirror .CodeMirror-linenumber {
  background: #201c29 !important;
  padding: 0 3px 0 15px;
}
.CodeMirror .CodeMirror-scroll {
  padding: 30px 0px 30px 20px !important;
}
.CodeMirror.cm-s-dracula {
  height: 100%;
  width: 100%;
}
.CodeMirror .CodeMirror-lines {
  font-size: 0.8rem;
}
.CodeMirror:hover {
  box-shadow: 0 0px 1px 2px #0ed2f7;
}
