:root {
  --font-color: #000;
  --night-font-color: #c2c2c2;
  --transparent-background-night: rgba(178,201,252,0.1);
  --bg-sub-accent-55: rgba(13,185,215,0.55);
  --primary: #b2fefa;
  --secondary: #0ed2f7;
  --dark: #0052d4;
  --gradient-light: #5d9eea;
  --gradient-middle: #0f27b5;
  --gradient-dark: #100e17;
  --code-gradient-light: #cff0ff;
  --code-gradient-dark: #afcafd;
}
/* roboto-mono-regular */
@font-face {
  font-family: 'Roboto Mono';
  font-style: normal;
  font-weight: regular;
  src: url("//lib.baomitu.com/fonts/roboto-mono/roboto-mono-regular.eot"); /* IE9 Compat Modes */
  src: local('Roboto Mono'), local('RobotoMono-Normal'), url("//lib.baomitu.com/fonts/roboto-mono/roboto-mono-regular.eot?#iefix") format('embedded-opentype'), url("//lib.baomitu.com/fonts/roboto-mono/roboto-mono-regular.woff2") format('woff2'), url("//lib.baomitu.com/fonts/roboto-mono/roboto-mono-regular.woff") format('woff'), url("//lib.baomitu.com/fonts/roboto-mono/roboto-mono-regular.ttf") format('truetype'), url("//lib.baomitu.com/fonts/roboto-mono/roboto-mono-regular.svg#RobotoMono") format('svg'); /* Legacy iOS */
}
/* roboto-mono */
@font-face {
  font-family: 'Roboto Mono';
  font-style: normal;
  font-weight: regular;
  src: url("//lib.baomitu.com/fonts/roboto-mono/roboto-mono-regular.eot"); /* IE9 Compat Modes */
  src: local('Roboto Mono'), local('RobotoMono-Normal'), url("//lib.baomitu.com/fonts/roboto-mono/roboto-mono-regular.eot?#iefix") format('embedded-opentype'), url("//lib.baomitu.com/fonts/roboto-mono/roboto-mono-regular.woff2") format('woff2'), url("//lib.baomitu.com/fonts/roboto-mono/roboto-mono-regular.woff") format('woff'), url("//lib.baomitu.com/fonts/roboto-mono/roboto-mono-regular.ttf") format('truetype'), url("//lib.baomitu.com/fonts/roboto-mono/roboto-mono-regular.svg#RobotoMono") format('svg'); /* Legacy iOS */
}
.gradient-text {
  background: var(--primary) !important;
  background: -webkit-linear-gradient(to right, var(--primary), var(--secondary), var(--dark)) !important;
  background: linear-gradient(to right, var(--primary), var(--secondary), var(--dark)) !important;
  -webkit-background-clip: text !important;
  -webkit-text-fill-color: transparent !important;
  -webkit-box-decoration-break: clone !important;
  box-decoration-break: clone !important;
}
.gradient-bg {
  background: var(--primary) !important;
  background: -webkit-linear-gradient(to right, var(--primary), var(--secondary), var(--dark)) !important;
  background: linear-gradient(to right, var(--primary), var(--secondary), var(--dark)) !important;
}
.gradient-bg-rev {
  background: var(--primary) !important;
  background: -webkit-linear-gradient(to right, var(--dark), var(--secondary), var(--primary)) !important;
  background: linear-gradient(to right, var(--dark), var(--secondary), var(--primary)) !important;
}
